<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Inventory</title>
</head>
<body>
  <h1>Car Inventory</h1>
  <a href="/cars/new">Add New Car</a>
  <div>
    <% cars.forEach(car => { %>
      <div>
        <h2><%= car.name %></h2>
        <img src="<%= car.image %>" alt="<%= car.name %>" width="300">
        <p><%= car.currency %> <%= car.price %></p>
        <p>City: <%= car.city %></p>
        <a href="/cars/<%= car._id %>/edit">Edit</a>
        <form action="/cars/<%= car._id %>/delete" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </div>
    <% }) %>
  </div>
</body>
</html>
